@charset "utf-8";

h2 {
    font-size: 18px;
}

#setup {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 3px;
}

.label {
    display: flex;
    align-items: center;
    height: 70px;
}

#rule_area{
    width: 300px;
}

#reload{
    margin: auto 0;
    margin-left: 10px;
}

#others {
    margin-left: 20px;
    width: 220px;
}