@charset "utf-8";

.main {
    position: relative;
}

#starter {
    margin: 0 auto;
}

#quiz_area {
    display: none;
}

#Japanese_word {
    text-align: center;
    font-size: 25px;
}

#words_entry {
    display: block;
    width: 60%;
    margin: 10px auto;
}

#decision {
    margin: auto;
}

#circle {
    visibility: hidden;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 80%;
    border: 15px solid #00ffff;
    width: 175px;
    aspect-ratio: 1;
    border-radius: 50%;
    pointer-events: none
}


@media screen and (max-width: 1024px) {
    #Japanese_word {
        font-size: 22.5px;
    }
    
    #circle {
    	top: 95px;
    	width: 157.5px;
    	border: 13.5px solid #00ffff;
    }
}


@media screen and (max-width: 599px) {
    #Japanese_word {
        font-size: 20px;
    }
    
    #circle {
    	top: 85px;
    	width: 140px;
    	border: 12px solid #00ffff;
    }
}