@charset "utf-8";

#canvas_area {
    text-align: center;
}

#canvas_container {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    position: relative;
}

#canvas {
    display: block;
    margin: 0;
    padding: 0;
    /*left: 50%;
    transform: translateY(0%) translateX(-50%);
    -webkit- transform: translateY(0%) translateX(-50%);*/
}

#explaination {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

#info{
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 7px;
    left: 7px;
    text-align: left;
}

#setup {
    display: flex;
    margin-top: 10px;
    margin-bottom: 3px;
    align-items: center;
    justify-content: space-between;
}

#pause_button {
    margin: auto 0;
    margin-left: 10px;
}

#control_area {
    height: auto;
    margin-right: 10px;
}

#control {
    margin: 3px 0;
    padding: 0;
}


@media screen and (max-width: 1024px) {
    #setup {
        margin-top: 7px;
    }
}


@media screen and (max-width: 699px) {
    #setup {
        margin-top: 5px;
    }
}

@media screen and (max-width: 599px) {
    #pause_button {
        width: 120px;
    }
}

@media screen and (max-width: 444px) {
    #pause_button {
        margin-left: calc(90vw / 400 * 10);
        width: calc(90vw / 400 * 120);
        font-size: calc(90vw / 400 * 9);
        padding: calc(90vw / 400 * 6) 0 calc(90vw / 400 * 6);
    }
    
    .always_vertical #control_area {
        height: auto;
        margin-right: calc(90vw / 400 * 10);
    }
    
    .always_vertical #control {
        margin: calc(90vw / 400 * 3) 0;
    }
    
    #info {
        bottom: calc(90vw / 400 * 7);
        left: calc(90vw / 400 * 7);
    }
}
