@charset "utf-8";

h2 {
    font-size: 18px;
}

#score {
    display: flex;
    align-items: center;
    width: 180px;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    border: solid 0.5px #3ee;
}

#button_area{
    margin-left: 10px;
}

#button_area p {
    margin-top: -2px;
}

#pause_button {
    margin-top: -16px;
}
