@charset "utf-8";

.label {
    display: flex;
    align-items: center;
    height: auto;
}

#rule_area {
    width: 300px;
}

#form {
    font-size: 15px;
    font-weight: bold;
}

#setup_text {
    display: inline;
    line-height: 2;
}

#reload {
    margin-left: 10px;
}

#others {
    margin-left: 20px;
    width: 220px;
}

#time {
    font-size: 20px;
}

.explanation_area {
    margin-top: 15px;
    padding-left: 5px;
    border: solid 2px #282828;
}

.explanation {
    margin-top: 5px;
}


#right_click_supporter {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 15vw;
    max-height: 50px;
    background-color: #0ff;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(calc(100vw / 400 * 18), 18px);
    font-weight: bold;
}
