@charset "utf-8";

h2 {
    font-size: 16px;
}

#canvas_area{
    position: relative;
    top: 0;
    left: 0;
}

#eye {
    position: absolute;
    top: 357px;
    left: 199px;
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: 1s;
}

#others {
    margin-left: 50px;
    width: 220px;
}

#sub_title {
    margin: 0;
}

#button_title {
    margin: 12px 0 0;
}

#pause_button{
    width: 100px;
}

#score_field {
    margin-top: 30px;
    margin-bottom: 48px;
}

#control_area {
    width: 140px;
    background-color: #181818;
    border: solid 2px #282828;
}

#control_title {
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 3px;
    text-align: center;
}

#control {
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 30px;
}
