@charset "utf-8";

.main {
    margin: 0;
    padding: 0;
    width: 1100px;
    height: 660px;
    margin-left: 15px;
    background-color: var(--background_color_02);
    writing-mode: vertical-rl;
    position: relative;
}

#starter {
    width: 100%;
    height: 100%;
    background-color: var(--background_color_01);
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color_01);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

 #title_box {
     background-color: var(--background_color_01);
 }
 
 #perfect {
    background-color: var(--background_color_01);
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    border: 2px solid var(--attract_color_03);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: var(--attract_color_03);
    visibility: hidden;
 }
 
 #items_container {
     
 }

h1 {
    margin: 0 0 0 20px;
    padding: 15px 0;
    color: var(--color_01);
    font-size: 50px;
    display: inline-block;
    border: 0.5px solid var(--color_01);
}

#decision {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: var(--attract_color_rgba_01);
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: 0.5px solid var(--attract_color_01);
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 1px;
    visibility: hidden;
}
#decision:hover{
    transition: all 0.5s;
    background-color: var(--attract_color_01);
}

.item_container {
    margin: 20px 10px 10px 50px;
}

h2 {
    margin: 0 0 0 10px;
    padding: 7px 3px 7px 0;
    display: inline-block;
    background-color: var(--label_color_01);
    border: none;
}

p {
    line-height: 2em;
}

span{
    margin: 4px 0;
    padding: 10px 3px 10px 2px;
    cursor: pointer;
    color: var(--color_01);
    border: 0.5px solid var(--color_01);
}

.unchange{
    margin: 4px 0;
    padding: 0;
    cursor: auto;
    color: var(--color_01);
    border: none;
}

.group{
    transition: 0s;
}
.group:hover {
    transition: 0.5s;
    color: var(--attract_color_01);
    border-color: var(--attract_color_01);
}