@charset "utf-8";


img {
    width: 25px;
    position: relative;
    top: 5px;
}

a {
    color: white;
    font-size: 20px;
}

ul {
    padding-left: 0;
}

li {
    width: 100%;
    border: 0.5px solid #fff;
    margin: 5px;
    padding: 0 0 10px;
}
