@charset "utf-8";


img {
    width: 25px;
    position: relative;
    top: 5px;
}

a {
    color: white;
    font-size: 20px;
}

ul {
    padding-left: 0;
}

li {
    height: 40px;
    width: 100%;
    border: 1px solid #fff;
    margin: 5px;
}
