@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    margin: 0;
    padding-right: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    vertical-align: middle;
    border-right: 2px solid #282828;
}

a img {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    display: block;
    height: 66px;
}
a:hover {
    text-decoration: none;
}
a:hover img {
    transition: 0.5s;
    background-color: #9cf;
}


@media screen and (max-width: 1024px) {
    a img {
        height: 57px;
    }
}

@media screen and (max-width: 599px) {
    a img {
        height: 48px;
    }
}