@charset "utf-8";

#rule_area{
    display: flex;
    align-items: center;
    height: 70px;
    width: 300px;
}

#form {
    font-size: 15px;
    font-weight: bold;
}

#setup_text {
    display: inline;
    line-height: 1.6;
}

#setting_area {
    display: flex;
    height: 70px;
}

#setting_box {
    line-height: 1.6;
}

#reload{
    margin-left: 10px;
}

#others {
    margin-left: 20px;
    width: 220px;
}

#generation {
    font-size: 20px;
}

.explanation_area{
    margin-top: 15px;
    border: solid 2px #282828;
}

.explanation {
    margin-top: 5px;
}
