@charset "utf-8";

.tilte_container {
    margin-top: 50px;
    background-color: transparent;
}

.title_container, .top, .others {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top .block {
    width: 35%;
}

.others .block {
    width: 10%;
}

.block {
    transition: 0.5s;
    width: 100%;
    border: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    position: relative;
    pointer-events: none;
    background: radial-gradient(#444, #444, #444, #444, #444, #333, #000, #000, #000, #000);
}

.square {
    transition: 0.5s;
    width: 100%;
    padding-top: 100%;
    margin: 0;
    background-color: black;
}

.block:hover .square {
    transition: 0.5s;
    background-color: transparent;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    width: 100%;
    margin: 0;
    padding: 0;
}

.title {
    display: block;
    position: relative;
    width: 65%;
    margin: 25px auto;
    background-color: transparent;
}

.top button, .others button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 81%;
    height: 81%;
    pointer-events: auto;
    background-color: transparent;
    border-radius: 50%;
    border: none;
}


@media screen and (max-width: 1024px) {
    .top .block {
        width: 50%;
    }

    .others .block {
        width: 20%;
    }
}

@media screen and (max-width: 599px) {
    .top .block {
        width: 100%;
    }

    .others .block {
        width: 40%;
    }
}