@charset "utf-8";

h2 {
    background-color: transparent;
    color: #fff;
    margin-top: 15px;
    border: none;
    font-size: 18px;
}

h1 a {
    color: #fff;
    cursor: help;
    font-size: 40px;
}

.game_main {
    display: flex;
}
