@charset "utf-8";

h2 {
    background-color: transparent;
    color: #fff;
    margin-top: 15px;
    border: none;
    font-size: 18px;
}

h1 a {
    color: #fff;
    cursor: help;
    font-size: 40px;
    letter-spacing: 1px;
}

.game_main {
    display: flex;
    justify-content: center;
}

.w400h400 {
    width: 400px;
    height: 400px;
}

.w250h250 {
    width: 250px;
    height: 250px;
}

.w250h500 {
    width: 250px;
    height: 500px;
}

#information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 3px;
}



@media screen and (max-width: 1024px) {
    h1 a {
        font-size: 35px;
        letter-spacing: 0.875px;
    }
}


@media screen and (max-width: 699px) {
    h1 a {
        font-size: 30px;
        letter-spacing: 0.75px;
    }
    
    .flexible {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    .flexible #others {
        margin: 0;
        padding: 0;
        width: 400px;
    }
}

    
@media screen and (max-width: 449px) {
    .flexible canvas {
        width: calc(90vw - 10px);
        height: calc(90vw - 10px);
    }
    
    .flexible #canvas_area {
        padding-bottom: 20px;
        width: 90vw;
    }
    
    .flexible #others {
        border-top: solid 2px #444;
        padding-top: 20px;
        width: 90vw;
    }
}

@media screen and (max-width: 399px) {
    #information {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 10px;
    }
    
    #information .label {
        width: 90vw;
    }
}
