@charset "utf-8";

h2 {
    font-size: 16px;
}

#canvas_area{
    position: relative;
    top: 0;
    left: 0;
}

#sub_title {
    margin: 0
}

#button_title {
    margin: 12px 0 0;
}

#pause_button{
    width: 100px;
}

#score_field {
    margin-top: 30px;
    margin-bottom: 10px;
}


@media screen and (max-width: 499px) {
    h2 {
        font-size: calc(90vw / 450 * 16);
    }
    
    #button_title {
        margin: calc(90vw / 450 * 12) 0 0;
    }

    #pause_button{
        width: calc(90vw / 450 * 100);
        font-size: calc(90vw / 450 * 9);
        padding: calc(90vw / 450 * 6) 0 calc(90vw / 450 * 6);
    }

    #score_field {
        margin-top: calc(90vw / 450 * 30);
        margin-bottom: calc(90vw / 450 * 10);
    }
}
